<img class="fullBg" [src]="app.image">
<div style="margin-bottom: 15px">
    <mat-toolbar>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="foodstuffs" routerLink="foodstuff/new">
                <mat-icon>fastfood</mat-icon>
                <span>Potraviny</span>
            </button>
            <button mat-menu-item routerLink="dish/calculate">
                <mat-icon>calculate</mat-icon>
                <span>Kalkulace</span>
            </button>
        </mat-menu>
        <mat-menu #foodstuffs="matMenu">
            <button mat-menu-item routerLink="foodstuff/new">
                <mat-icon>add</mat-icon>
                <span>Přidat</span>
            </button>
            <button mat-menu-item routerLink="foodstuff/edit">
                <mat-icon>edit</mat-icon>
                <span>Upravit</span>
            </button>
        </mat-menu>
        <span>Jídelníček</span>
        <span class="spacer"></span>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>